Database/config.json
Machine Learning and Data Manipulation/config.json
Machine Learning and Data Manipulation/species.json
Machine Learning and Data Manipulation/genuses.json
.idea
*.pyc
Machine Learning and Data Manipulation/model/variables/variables.index
Machine Learning and Data Manipulation/model/variables/variables.data-00000-of-00001
Machine Learning and Data Manipulation/model/saved_model.pb
Machine Learning and Data Manipulation/model/keras_metadata.pb
Machine Learning and Data Manipulation/model/fingerprint.pb
*.pyc
Machine Learning and Data Manipulation/model_prod/.DS_Store
Machine Learning and Data Manipulation/model/.DS_Store
Machine Learning and Data Manipulation/.DS_Store
Machine Learning and Data Manipulation/.DS_Store
Machine Learning and Data Manipulation/model_prod/variables/variables.index
Machine Learning and Data Manipulation/model_prod/variables/variables.data-00000-of-00001
Machine Learning and Data Manipulation/model_prod/saved_model.pb
FileDropService/.DS_Store
FileDropService/DropFolder/.DS_Store
Machine Learning and Data Manipulation/.DS_Store
seeshell_server_common/.DS_Store
Client/.DS_Store
Client/Android_Client/.DS_Store
Client/seeshell_client_common/.DS_Store
Server/.DS_Store
Server/API/.DS_Store
Server/FileDropService/.DS_Store
Server/FileDropService/DropFolder/.DS_Store
Server/Machine Learning/.DS_Store
Server/Machine Learning/model/.DS_Store
Server/Machine Learning/model/fingerprint.pb
Server/Machine Learning/model/keras_metadata.pb
Server/Machine Learning/model/saved_model.pb
Server/Machine Learning/model/variables/variables.data-00000-of-00001
Server/Machine Learning/model/variables/variables.index
Server/Machine Learning/model_prod/.DS_Store
Server/Machine Learning/model_prod/saved_model.pb
Server/Machine Learning/model_prod/variables/variables.data-00000-of-00001
Server/Machine Learning/model_prod/variables/variables.index
Server/seeshell_server_common/.DS_Store
.DS_Store
