Database/config.json
App Front End/config.json
Machine Learning and Data Manipulation/config.json
Machine Learning and Data Manipulation/species.json
Machine Learning and Data Manipulation/genuses.json
.idea